<div class="centralize">
  <h1>Job Application to <%= @job_post_title %> </h1>
</div>


  <%= render "form", job_application: @job_application %>

<br>



<div>
  <%= link_to "Back", job_applications_path %>
</div>

