<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JOB BOARD</title>
</head>
<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1 class="centralize">JOB BOARD PLATFORM</h1>
</div>
<div class="info-box">
  <% if user_signed_in? %>
    <div> Welcome <%= current_user.email %> </div>
  <% end %>
  <body>
  <%= render "job_posts/job_posts", job_post: @job_post %>
  </body>
</div>
</html>
