<p style="color: green"><%= notice %></p>


<% if admin? %>
  <%= link_to " CREATE NEW JOB POST!!", new_job_post_path, class: "btn btn-primary" %>
<% end %>
<div class="info-box">
  <div class="centralize">
    <h1> Current Jobs </h1>
  </div>

</div>


<div class="container">
  <div class="row">
    <% @job_posts.each do |job_post| %>
      <%= render job_post %>

    <% end %>
  </div>
</div>







