.frame {
    border: 1px solid #000;
    padding: 12px;
    display: inline-block;
}

.info-box {
    border: 1px solid #ccc;
    padding: 12px;
    background-color: #e9ecef;
}

.centralize {
    display: flex;
    justify-content: center;
}

.wider-text-area {
    width: 300px; /* Adjust the width value as needed */
    height: 100px;
}

.absolute {
    position: absolute;
    transform: translate(50%, 50%);
}
.button-group button {
    display: inline-block;
    margin-right: 10px;
}